
name: Build and Release

on:
  workflow_dispatch:
jobs:
  build:
    name: Build macOS and Windows apps
    runs-on: macos-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: stable
        flutter-version: 3.19.0
    - run: flutter --version
      
    - name: Get dependencies
      run: flutter pub get

    - name: Build macOS app
      run: flutter build macos

  release:
    name: Release artifacts
    needs: build
    runs-on: macos-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    steps:
    - name: Download macOS artifacts
      uses: actions/download-artifact@v2
      with:
        name: macOS-app

    - name: Create macOS Release
      uses: NCAR/github-actions-create-release@v1
      with:
        tag_name: ${{ github.sha }}
        release_name: Release ${{ github.sha }}
        body: |
          Automatically created release by GitHub Actions.
        artifact_path: build/macos/Runner.app
