
name: Build and Release

on:
  workflow_dispatch:
jobs:
  build:
    name: Build macOS apps
    runs-on: macos-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: stable
        flutter-version: 3.19.0
    - run: flutter --version
      
    - name: Get dependencies
      run: flutter pub get

    - name: Build macOS app
      run: flutter build macos
    - name: look product
      run: cd build/macos/Build/Products/Release
    - name: ls product
      run: ls -l
    - name: Upload macOS Release
      uses: actions/upload-artifact@v3
      with:
        name: macos-app
        path: build/macos/Build/Products/Release/鸿蒙App工具助手.app
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
