
name: Build and Release

on:
  workflow_dispatch:
jobs:
  build:
    name: Build macOS and Windows apps
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: stable
        flutter-version-file: pubspec.yaml
    - run: flutter --version
      
    - name: Get dependencies
      run: flutter pub get

    - name: Build macOS app
      run: flutter build macos

    - name: Build Windows app
      run: flutter build windows
